<div class="jumbotron">
  <div class="page-header">
      <h1 class="text-center">Salesforce Mappy</h1>
      <h4 class="text-center">A "Demand Tools" homebrew</h4>
  </div>
</div>

<div class="container">

<div class="row">
  <div class="col-md-12">
      <div *ngIf="csvData === undefined">Please select a file</div>
      <div *ngIf="csvData != undefined">File Loaded!</div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="list-group">
      <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          <input type="file" id="csvInputFileElement"/>
          <button class="btn" (click)="uploadCSVFileAction()" [class.btn-outline-primary]="true">Upload CSV</button>
      </div>
    </div>
  </div>

  <div class="col-md-4" *ngIf="csvData != undefined">
    <h5>Fields from CSV</h5>
    <div class="list-group">
      <div 
      (click)="selectCSVColumn(aField)" 
      *ngFor="let aField of csvHeaderFields" 
      class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
      [class.active]="aField.selected">
          {{ aField.fieldName }}
      </div>
    </div>
    <div *ngFor="let selectedField of selectedColumns">
      Selected: {{ selectedField.fieldName }}
    </div>
    
  </div>
</div>

<div class="row" style="padding-top:28px;" *ngIf="salesforceContacts == undefined">
  <div class="col-md-12">
    <button (click)="retrieveSalesforceContacts();" class="btn btn-outline-primary">Retrieve Salesforce Data</button>
  </div>
</div>

<div class="row" style="padding-top:28px;">
  <div class="col-md-12">
    <button (click)="retrieveContactsViaObservable();" class="btn btn-outline-dark">Try Retrieving Via Observable</button>
  </div>
</div>

<!-- A display of all queried contacts 
<div>
  <div class="col-md-12" style="padding-top:28px;">
    <div class="list-group">
        <div *ngFor="let contact of salesforceContacts" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            {{ contact.Name }}
        </div>
    </div>
  </div>
</div>
-->

<div class="row" style="padding-top:28px;">
  <div class="col-md-12">
      <button class="btn btn-outline-success" (click)="findContacts()">Match Contact Information</button>
  </div>
</div>



</div>

