<div class="jumbotron">
  <div class="page-header">
      <h1 class="text-center">Salesforce Mappy</h1>
      <h4 class="text-center">A "Demand Tools" homebrew</h4>
  </div>
</div>

<div class="container">

<div class="row">
  <div class="col-md-12">
      <div *ngIf="csvFile === undefined">Please select a file</div>
      <div *ngIf="csvFile != undefined">File Loaded!</div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="list-group">
      <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          <input type="file" id="csvInputFileElement" (click)="uploadCSVFileAction()"/>
          <button class="btn" (click)="uploadCSVFileAction()" [class.btn-outline-primary]="true">Upload CSV</button>
      </div>
    </div>
  </div>
  <div class="col-md-6">

    <div *ngIf="csvData !== undefined">
      File Header:<br/>
      <span *ngFor="let data of csvData[0]">{{ data }}&nbsp;</span>

      <!--
      <div *ngFor="let data of csvData; let i = index" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        {{ i + 1 }}: {{ data[0] }} {{ data[1] }} 
      </div>
    -->
    </div>

  </div>
</div>

<div class="row" style="padding-top:28px;">
  <div class="col-md-12">
    <button (click)="retrieveSalesforceContacts();" class="btn btn-outline-primary">Retrieve Salesforce Data</button>
  </div>

  <div class="col-md-6" style="padding-top:28px;">
    <div class="list-group">
        <div *ngFor="let contact of salesforceContacts" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            {{ contact.Name }}
        </div>
    </div>
  </div>
</div>



</div>

